<div id="<%= dom_id contact %>">
  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= contact.kind_id %>
  </p>

  <p>
    <strong>Rmk:</strong>
    <%= contact.rmk %>
  </p>

</div>
