
<div id="<%= dom_id band %>">
 
  
  <tr>
    <td><%= band.name %></td>
    <td><%= band.idade %></td>
    <td><%= band.cargo %></td>
    <td><%= band.valor %></td>
    <td><%= band.habilitado %></td>
    <td><%= band.valor_1 %></td>
    <td><%= band.valor_2 %></td>
  </tr> 

</div>